@import "../../style/settings.scss";

.login {
    height: 50%;
    min-height: 400px;
}

.fullimage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;


    &__image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &--dark {
            filter: grayscale(50%);
            opacity: 0.15;
        }
    }

    &__bgcolor {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: $color-secondary-darker;
        background-attachment: fixed;
        box-shadow: -12px -36px 105px 28px $color-secondary-darker;
        opacity: 0.9;
    }
}
