.collapse {
    &__input {
        display: none;

        &:checked + .collapse__title::before {
            transform: rotate(90deg) translateX(-3px);
        }

        &:checked + .collapse__title + .collapse__content {
            max-height: 100vh;
        }
    }

    &__title {
        content: " ";
        // display: block;
        display: inline-block;
        margin-right: 0.7rem;
        padding: 1rem;
        border-top: 5px solid transparent;
        // border-bottom: 5px solid transparent;
        //border-left: 5px solid currentcolor;
        border-radius: 7px;
        background: #FAE042;
        color: #A77B0E;
        font-family: monospace;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        cursor: pointer;
        transform: translateY(-2px);
        // transition: all 0.25s ease-out;
        transition: transform 0.2s ease-out;
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-in-out;
    }

    &__inner {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid rgba(250, 224, 66, 0.45);
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        background: rgba(250, 224, 66, 0.2);
    }
}
