.contentnav {

    &__nav {
        display: grid;
        position: relative;
        border-bottom: 1px solid $color-secondary;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    &__item {
        position: relative;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 3px;
            margin: 0 auto;
            border-radius: 6px;
            background-color: transparent;
            transition: all 0.3s;
            z-index: 5;
        }

        &:hover,
        &--active {
            color: $color-white;
            font-weight: bold;
        }

        &:active {
            &::after {
                background-color: $color-secondary;
            }
        }

        &:active,
        &:focus,
        &--active {

            &::after {
                width: 100%;
            }
        }

        &--active {
            &::after {
                background-color: $color-primary;
            }

            &:hover::after {
                background-color: $color-primary-dark;
            }

            &:active::after {
                background-color: $color-primary-darker;
            }
        }
    }
}

.content {
    position: relative;
    // height: calc(100vh - 140px - 54px - 50px);
    height: 100%;
    margin-right: -20px;
    margin-left: -20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    overflow: auto;
    overflow-y: scroll;
    /* stylelint-disable */
    background: /* Shadow covers */
        linear-gradient($color-secondary-darker 30%, transparent), linear-gradient(transparent, $color-secondary-darker 70%) 0 100%, radi        radient(farthest-side at 50% 0, $color-black, transparent), radial-gradient(farthest-side at 50% 100%, black, transparent) 0 100%;
    /* stylelint-enable */
    background-color: transparent;
    background-repeat: no-repeat;
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    z-index: 4;

    &::-webkit-scrollbar {
        width: 6px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: $color-secondary;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $color-primary;

        &:hover {
            background-color: $color-primary-dark;
        }
    }

    &--small {
        //  height: 100%;
    }

    &--default {
        // height: calc(100vh - 50px - 90px);
    }

    // &__inner {}
}
