.match {
    display: grid;
    grid-template-columns: 160px 1fr;

    &:nth-last-child(1) {
        border-bottom: none;
    }

    &__image {
        display: flex;
        position: relative;
        width: 140px;
        height: 200px;
        margin-right: 20px;
        border-radius: 8px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        background: $color-secondary-dark;
        pointer-events: none;

        img {
            position: absolute;
            width: 100%;
            min-width: 100%;
            height: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }

    &__likes {
        position: absolute;
        color: $color-secondary;
        font-size: $font-size-xlarge;
        font-weight: bold;
    }

    &__heart {
        position: relative;
        color: $color-white;
        font-size: 100px !important;
    }

    &__title {
        padding-bottom: 20px;
        color: $color-white;
        font-size: $font-size-regular;
        grid-column: 1 / -1;

        &::after {
            content: "";
            display: block;
            position: relative;
            width: 60px;
            height: 2px;
            margin-top: 10px;
            background-color: $color-primary;
        }
    }

    // &__user { }
}
