.profile {
    display: grid;
    margin: 0 -10px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    grid-template-areas: "img name name" "img friends friends";
    grid-template-columns: 40px  1fr;
    grid-column-gap: 20px;

    &__image {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        border-radius: 40px;
        overflow: hidden;
        background: $color-secondary-dark;
        pointer-events: none;
        grid-area: img;

        img {
            position: absolute;
            width: 100%;
            min-width: 100%;
            height: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        grid-area: name;
        color: $color-font-light;
        font-weight: bold;
    }

    &___friends {
        grid-area: friends;
        font-size: $font-size-small;
    }

    &:hover {
        border-radius: 4px;
        background: $color-primary;
        box-shadow: $hover-shadow;
        color: $color-white;

        * {
            color: $color-white;
        }
    }

    &:focus,
    &:active {
        background: $color-primary-dark;
    }

    &--small {
        margin: 0 0 5px;
        padding: 5px;
        align-items: center;
        grid-template-areas: "img name name";
        grid-column-gap: 10px;
        grid-template-columns: 30px  1fr;

        .profile__image {
            width: 30px;
            height: 30px;
        }
    }
}
