.buttons {
    display: grid;
    height: 100%;
    margin: 0 50px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 4fr 1fr 4fr;
    gap: 20px;
}

.swipebutton {

    &--like,
    &--dislike {
        display: flex;
        width: 100%;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: $color-white;
        font-size: 40px;
        cursor: pointer;

        .swipebutton__icon {
            display: flex;
            width: 70px;
            height: 70px;
            border-radius: 70px;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            transition: all 0.3s;
        }

        &:hover {
            .swipebutton__icon {
                // background: $color-primary;
                // color: white;
                box-shadow: $hover-shadow;
                transform: scale(1.25);
            }
        }

        &.active,
        &:focus {
            .swipebutton__icon {
                background: $color-primary-darker;
            }
        }
    }

    &--like {
        color: $color-primary;
    }

    &--back {
        width: 100%;
        background: transparent;
        color: $color-secondary-light;
        cursor: pointer;

        .swipebutton__icon {
            font-size: 20px;
        }
    }

    &--dislike {
        color: $color-white;
    }
}

.swipecontent {
    display: grid;
    width: 100%;
    height: 100%;
    flex-direction: column;
    grid-template-rows: 100px 1fr 50px 100px;

    &__title {
        position: relative;
        height: 100px;

        .swipetitle {
            position: absolute;
            top: 0;
            width: 100%;
            opacity: 0;
            transition: all 1s;
            filter: blur(10px);

            &--active {
                opacity: 1;
                filter: blur(0);
            }
        }
    }

    &__swipe {
        position: relative;
        // width: 100%;
        height: 100%;
        // height: calc(100vh - 50px - 100px - 100px);
        // top: 100px;
    }

    &__empty {
        display: flex;
        position: relative;
        width: 100%;
        // width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__info {
        position: relative;
        height: 50px;

        .swipeduration {
            display: flex;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all 1s;
            filter: blur(10px);

            &--active {
                opacity: 1;
                filter: blur(0);
            }
        }
    }

    //&__buttons {}
}

.swipecard {
    display: grid;
    position: absolute;
    top: -20px;
    width: 100%;
    height: 100%;
    cursor: grab;
    transform: scale(0.8);
    transform-origin: top;
    transition: all 2s;

    &--active {
        top: 0;
        transform: scale(1);

        ~ .swipecard {
            pointer-events: none;
            opacity: 0;
        }
    }

    //&--next,
    //&--next2 {}

    &--next {
        top: -10px;
        transform: scale(0.9);
    }

    &--next2 {
        transform: scale(0.8);
    }
}

.swipe {

    &--active + .swipe {
        transform: scale(0.8);
    }

    // &__wrapper {}

    &__image {
        position: relative;
        width: 100%;
        height: 100%;
        margin-right: 20px;
        border-radius: 10px;
        overflow: hidden;
        background: $color-secondary-dark;
        box-shadow: 0 0 4px 0 $color-secondary-darkest;
        pointer-events: none;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: $color-white;
            opacity: 0;
            transition: all 0.3s;
            z-index: 1;
        }

        &:hover {
            box-shadow: $hover-shadow;
        }

        img {
            position: absolute;
            width: 100%;
            min-width: 100%;
            height: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
}
