@import "../../style/settings.scss";

.header {
    display: flex;
    padding: 20px 0;
}

.profilimage {
    position: relative;

    &__image {
        position: relative;
        width: 100px;
        height: 100px;
        margin-right: 20px;
        border-radius: 100px;
        overflow: hidden;
        background: $color-secondary-dark;
        pointer-events: none;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: $color-white;
            opacity: 0;
            transition: all 0.3s;
            z-index: 1;
        }

        img {
            position: absolute;
            width: 100%;
            min-width: 100%;
            height: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }

    &__edit {
        display: flex;
        position: absolute;
        right: 20px;
        bottom: 0;
        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        background: $color-primary;
        color: $color-white;
        cursor: pointer;
        z-index: 2;

        &:hover {
            background-color: $color-primary-dark;
        }

        &:active,
        &:focus {
            background-color: $color-primary-darker;
        }

        &:hover + .profilimage__image {
            &::before {
                opacity: 0.5;
            }
        }
    }

    &__icon {
        font-size: 20px !important;
    }
}

.profilname {
    display: flex;
    flex-flow: column;
    justify-content: center;

    &__name {
        margin-bottom: 10px;
        color: $color-primary;
        font-size: $font-size-xxlarge;
        font-weight: bold;
        letter-spacing: 0.05rem;
    }

    &__edit {
        color: $color-font-base;
        font-size: $font-size-small;
        cursor: pointer;

        &:hover {
            color: $color-font-light;
        }
    }
}

.aboutus {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
