@import "../../style/settings.scss";

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 49px;
    border-top: 1px solid $color-secondary-dark;
    background: $color-secondary-darker;
    z-index: 99999;

    &__link {
        display: flex;
        height: 50px;
        border-bottom: 0 solid transparent;
        justify-content: center;
        align-items: center;
        color: $color-secondary;
        transition: all 0.3s;

        &:hover,
        &:active,
        &:focus {
            border-bottom-width: 6px;
            border-bottom-color: $color-secondary-dark;
            color: $color-secondary-light;
        }

        &:hover {
            color: $color-white;
        }





        &--active {
            border-bottom-width: 6px;
            border-bottom-color: $color-primary;
            color: $color-white;

            &:active,
            &:focus,
            &:hover {
                border-bottom-color: $color-primary-dark;
                color: $color-secondary-lightest;
            }
        }
    }

    &__icon.material-icons {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
    }
}
