/* BASE
============================================================================ */

::selection {
    background: $color-primary;
    color: $color-white;
}

html {
    font-size: $font-size-default;
}

html,
body {
    // text-rendering: optimizelegibility;
}

body {
    display: flex;
    min-height: 100vh;
    max-height: 100%;
    overflow: hidden;
    background-color: $color-secondary-darkest;
    // background: linear-gradient(40deg, $color-secondary-darker 0%, $color-secondary-dark 100%);
    background-attachment: fixed;
    color: $color-font-base;
    font-family: $font-family-primary;
    font-size: $font-size-base;
    line-height: $line-height-none;
}

.moviebuddy {
    width: 100%;
    height: 100%;
}

.headline {
    color: $color-font-light;
    font-weight: bold;
    // font-size: $font-size-regular;

    &::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 4px;
        background: $color-font-light;
    }
}

.text {
    margin-bottom: 20px;
    color: $color-font-base;
    line-height: 1.5;
}

.line {
    height: 1px;
    margin: 30px 0;
    background: $color-secondary;
}

.logo {
    width: 100%;
    text-shadow: 0 0 20px #150D21;
    color: $color-primary;
    font-size: $font-size-xxlarge;
    text-align: center;
    letter-spacing: 0.1rem;

    span {
        color: $color-white;
        font-weight: bold;
    }
}

.title {
    display: flex;
    margin: 30px 0 10px;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: $font-size-xlarge;
    text-align: center;
    flex-flow: column;

    &::after {
        content: "";
        display: block;
        position: relative;
        right: 0;
        left: 0;
        width: 60px;
        height: 2px;
        margin: 10px  auto 0;
        margin-top: 10px;
        background-color: $color-primary;
    }
}
