.input,
.button {
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: $spacing-large;
    padding-right: $spacing-medium;
    padding-left: $spacing-medium;
    border-radius: 25px;
    align-items: center;
    outline: none;
    color: $color-white;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        box-shadow: $hover-shadow;
    }
}

.button {
    border: 1px solid transparent;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

    &[disabled] {
        border: 1px solid $color-secondary;
        background-color: transparent;
        color: $color-secondary;

        &:active,
        &:focus,
        &:hover {
            border-color: $color-secondary-light;
            background-color: transparent;
            color: $color-secondary-light;
            cursor: not-allowed;
        }
    }

    &--alert {
        background: $color-alert;

        &:active,
        &:focus,
        &:hover {
            background: darken($color-alert, 10%);
        }

        &:active,
        &:focus {
            background-color: darken($color-alert, 20%);
        }
    }

    &--primary {
        background-color: $color-primary;

        &:active,
        &:focus,
        &:hover {
            background-color: $color-primary-dark;
            color: $color-gray-light;
        }

        &:active,
        &:focus {
            background-color: $color-primary-darker;
        }
    }

    &--secondary {
        border-color: $color-primary;
        background-color: transparent;
        color: $color-primary;

        &:active,
        &:focus,
        &:hover {
            border-color: $color-primary-dark;
            background-color: $color-primary-dark;
            color: $color-gray-light;
        }

        &:active,
        &:focus {
            border-color: $color-primary-darker;
            background-color: $color-primary-darker;
        }
    }
}

.input {
    padding-right: 40px;
    background-color: $color-secondary-dark;

    &::placeholder {
        color: $color-secondary-light;
    }

    &:hover {
        background-color: $color-secondary-light;

        &::placeholder {
            color: $color-secondary-lighter;
        }

        ~ .input__icon {
            color: $color-secondary-lighter;
        }
    }

    &:active,
    &:focus {
        background-color: $color-white;
        color: $color-primary;

        ~ .input__icon {
            color: $color-primary;
        }
    }

    &__icon {
        display: flex !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-size: 18px !important;
    }
}

.form {
    position: relative;
}

.checkbox {
    display: none;
}

.checkbox + label {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkbox + label::before {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 5px;
    float: left;
    background-color: $color-secondary;
    transition: all 0.3s;
    z-index: 5;
}

.checkbox {
    + label:hover {
        color: $color-font-light;

        &::before {
            background-color: $color-secondary-light;
        }
    }
}

.checkbox:checked + label::before {
    background-color: $color-primary;
}
