/* RESET
========================================================================= */
/*------------------------------------
Reset Stylings
Additional too normalize.css
------------------------------------*/

/* stylelint-disable */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    font-size: inherit;
}

article,
aside,
details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block;
}

h1, h2, h3, h4, h5, h6,p, ul, ol, figure, pre {
  font-size: inherit;
  line-height: inherit;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure {
  margin: 0;
}

ol, ul {
  margin: 0;
}

a {
  text-decoration: none;
}

/* stylelint-enable */
