/* SETTINGS
============================================================================
	1. Font
	2. Color
    4. Spacing
    2. Misc
============================================================================ */
//------------------------------------
//      #Font Variables
//------------------------------------

// Font-Family
$font-family-primary:           "Roboto", sans-serif !default;
$font-family-secondary:         "Roboto", sans-serif !default;

// Font-Sizes
$font-size-default:             10px !default; // default website fontsize
$font-size-tiny:                1.1rem !default;
$font-size-small:               1.4rem !default;
$font-size-regular:             1.6rem !default;
$font-size-base:                $font-size-small !default; // default font-size
$font-size-large:               2rem !default;
$font-size-xlarge:              2.4rem !default;
$font-size-xxlarge:              2.8rem !default;

// Line-Height
$line-height-none:              1 !default;
$line-height-base:              1.6 !default;

// Font-Weight 00,300i,400,400i,700,700i
$font-weight-lighter:           100 !default;
$font-weight-light:             300 !default;
$font-weight-base:              400 !default;
$font-weight-bold:              700 !default;

//------------------------------------
//      #Color Variables fcba03
//------------------------------------

$color-primary:                 #C71F62 !default;
$color-primary-dark:            #8C1645 !default;
$color-primary-darker:          #721439 !default;

$color-success:                 #297631 !default;
$color-info:                    #31708F !default;
$color-warning:                 #C1B14F !default;
$color-alert:                   #9C1A2F !default;

$color-secondary-lightest:      #BBB9BD;
$color-secondary-lighter:       #9992A4;
$color-secondary-light:         #615475;
$color-secondary:               #403554;
$color-secondary-dark:          #291E3B;
$color-secondary-darker:        #201530;
$color-secondary-darkest:        #181123; // 150d21

$color-white:                   #F0EFF1 !default;
$color-black:                  #0F0D10 !default;

$color-gray-light:                   #CBC9CC !default;

// Use this variable for font-color
$color-font-base:               $color-secondary-light !default;
$color-font-light:              $color-secondary-lighter !default;
$color-font-dark:               $color-secondary !default;

//------------------------------------
//      #Spacing
/*------------------------------------
For usage see spacing.scss
------------------------------------*/
$spacing-default:               5px !default;
$spacing-breakpoint-seperator:  \@ !default;

$spacing-none:                 0 !default;
$spacing-tiny:                  $spacing-default !default;           // 5px
$spacing-small:                 $spacing-default * 2 !default;       // 10px
$spacing-medium:                $spacing-default * 3 !default;       // 15px
$spacing-large:                 $spacing-default * 4 !default;       // 20px
$spacing-huge:                  $spacing-default * 6 !default;       // 30px

//------------------------------------
//      #Misc Variables
//------------------------------------
$z-index-max: 9999 !default;
$hover-shadow: 0 0 10px 0 $color-secondary-darkest;
$line-height: 3px;
$border-radius: 4px;
