/* SPACING
============================================================================ */
/*------------------------------------
Usable as the following examples:
    Default:
        .mt--sm
    With Media Queries:
        .mt--sm@lg
to configure spacing value see ./_settings.scss
------------------------------------*/

$spacing-value: (
    "margin":            "m",
    "padding":           "p"
) !default;

$spacing-directions: (
    null:               null,
    "-top":             "t",
    "-right":           "r",
    "-bottom":          "b",
    "-left":            "l"
) !default;

$spacing-sizes: (
    null:                $spacing-medium,
    "--xs":              $spacing-tiny,
    "--sm":              $spacing-small,
    "--md":              $spacing-medium,
    "--lg":              $spacing-large,
    "--xl":              $spacing-huge,
    "--none":            0
) !default;

@each $spacing-namespace, $spacing-value in $spacing-value {
    @each $direction-namespace, $direction-rules in $spacing-directions {
        @each $size-namespace, $size in $spacing-sizes {
            .#{$spacing-value}#{$direction-rules}#{$size-namespace} {
                @each $direction in $direction-namespace {
                    #{$spacing-namespace}#{$direction}: $size;
                }
            }
        }

        @each $mq-breakpoint-name, $mq-breakpoint-value in $mq-breakpoints {
            @include mq($from: $mq-breakpoint-name) {
                @each $size-namespace, $size in $spacing-sizes {
                    .#{$spacing-value}#{$direction-rules}#{$size-namespace}#{$spacing-breakpoint-seperator}#{$mq-breakpoint-name} {
                        @each $direction in $direction-namespace {
                            #{$spacing-namespace}#{$direction}: $size;
                        }
                    }
                }
            }
        }
    }
}
