.wrapper {
    width: 100%;
    // padding: 20px;
    // min-height: calc(100% - 50px);
    // display: flex;
    // flex-direction: column;
    max-width: 400px;

    &--bottom {
        // justify-content: flex-end;
        // min-height: 100%;
    }
}

.row {
    height: 100%;
}

.inner {
    display: flex;
    // height: 100%;
    height: calc(100% - 50px);
    max-height: 100vh;
    padding: 0 20px;
    border-right: 1px solid $color-secondary-dark;
    border-left: 1px solid $color-secondary-dark;
    background-color: $color-secondary-darker;
    flex-flow: column;

    &--full {
        height: 100%;
    }
}

.home {

    &--fifty {
        height: 50%;
        min-height: 360px;
        margin-top: auto;
    }

    &--center {
        display: flex;
        height: 50%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    &--small {
        position: relative;
        height: 20px;
        margin: 10px 0;
        color: $color-secondary;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.5;
    }
}
